<p *ngIf="timeEntries.length < 1">Noch keine Buchungen vorhanden</p>

<div class="time-entries" *ngIf="timeEntries.length > 0">
    <div *ngFor="let entry of timeEntries; let i = index">
        <button (click)="removeEntry.emit(entry)">X</button>
        <span>{{ entry | millisToTimeString }}</span>
    </div>

    <div *ngIf="timeEntries.length % 2 === 1" class="current">
        <button>X</button>
        <span>{{ currentTime | millisToTimeString }}</span>
    </div>
</div>
