:host {
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 5px;

        tr {
            td {
                padding: 5px 10px;
                background: #efefef;
            }
            td:first-of-type {
                font-size: 12px;
            }
            td:last-of-type {
                font-size: 15px;
                text-align: right;
            }
        }
        tr.minor {
            td:first-of-type {
                padding-left: 15px;
            }
        }
        tr.warning {
            td {
                background: #991010;
                color: #fff;
            }
        }
        tr.success {
            td {
                background: #1d8c0c;
                color: #fff;
            }
        }
    }

    table:first-of-type {
        margin-top: 10px;
    }
}
