<ng-container *ngIf="settings && result">
    <table>
        <tr
            [ngClass]="{
                success: result.overtime >= 0,
                warning: result.overtime < 0
            }"
            *ngIf="timeEntries.length % 2 === 1"
        >
            <td>Frühster Feierabend</td>
            <td *ngIf="result.overtime < 0">
                {{
                    result.earliestEndOfWorkingDay?.getTime()!
                        | millisToTimeString
                }}
                Uhr
            </td>
            <td *ngIf="result.overtime >= 0">Jetzt!</td>
        </tr>
    </table>

    <table>
        <tr>
            <td>Anwesend</td>
            <td>
                {{ result.presentTime | millisToTimeSpanString }}
            </td>
        </tr>

        <tr class="minor">
            <td>- Wegzeit</td>
            <td>
                {{ settings.wayTime | millisToTimeSpanString }}
            </td>
        </tr>

        <tr class="minor">
            <td>- Fehlende Pausenzeit</td>
            <td>
                {{ result.leftBreakTime | millisToTimeSpanString }}
            </td>
        </tr>

        <tr class="minor">
            <td>- Arbeitszeit</td>
            <td>
                {{ settings.workTime | millisToTimeSpanString }}
            </td>
        </tr>

        <tr
            [ngClass]="{
                success: result.overtime >= 0,
                warning: result.overtime < 0
            }"
        >
            <td>Überstunden</td>
            <td>
                {{ result.overtime | millisToTimeSpanString }}
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>Gesetzlich nötige Pausenzeit</td>
            <td>
                {{ result.minBreakTime | millisToTimeSpanString }}
            </td>
        </tr>

        <tr class="minor">
            <td>- genommen</td>
            <td>
                {{ result.breakTimeForMinBreak | millisToTimeSpanString }}
            </td>
        </tr>

        <tr
            [ngClass]="{
                warning: result.leftBreakTime > 0
            }"
        >
            <td>Fehlende Pausenzeit</td>
            <td>
                {{ result.leftBreakTime | millisToTimeSpanString }}
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>zusätzliche Pausenzeit</td>
            <td>
                {{ result.breakTimeExtra | millisToTimeSpanString }}
            </td>
        </tr>
    </table>
</ng-container>
