<div
    [ngStyle]="{
        '--primary-color': data.settings().color
    }"
>
    <input
        type="tel"
        [(ngModel)]="input"
        (ngModelChange)="add()"
        placeholder="Buchung hinzufügen (hhmm)"
    />

    <app-action-buttons
        (addNow)="data.addNow()"
        (reset)="data.reset()"
        (showSettings)="data.showSettings()"
    />

    <main>
        <app-times
            [currentTime]="data.currentTime()"
            [timeEntries]="data.timeEntries()"
            (removeEntry)="data.remove($event)"
        />
        <app-results
            [timeEntries]="data.timeEntries()"
            [result]="data.result()"
            [settings]="data.settings()"
        ></app-results>
    </main>

    <div class="link">
        <a href="https://gitlab.com/kunzs/arbeitszeit-tracker" target="_blank">
            <img src="assets/gitlab.png" />
        </a>
    </div>

    <app-settings
        @slideInOut
        *ngIf="data.settingsActive()"
        [settings]="data.settings()"
        (cancelSettings)="data.cancelSettings()"
        (saveSettings)="data.saveSettings()"
        (setWorkTime)="data.setWorkTime($event)"
        (setWayTime)="data.setWayTime($event)"
        (setMaxPresentTime)="data.setMaxPresentTime($event)"
        (setThemeColor)="data.setThemeColor($event)"
    />

    <app-new-version
        @fadeInOut
        *ngIf="data.showNewVersionInfo()"
        (jumpToSettings)="data.showSettings()"
        (hideNewVersionNews)="data.hideNewVersionInfo()"
    ></app-new-version>
</div>
