<div class="setting-items" *ngIf="settings">
    <h1>Settings</h1>

    <div>
        <label>Arbeitszeit</label>
        <input
            type="number"
            [value]="settings.workTime | millisToHours"
            (change)="
                setWorkTime.emit(
                    uiHelper.hoursToMillis($any($event.target).value)
                )
            "
        />
        <div class="unit">Stunden</div>
    </div>

    <div>
        <label>Wegzeit</label>
        <input
            type="number"
            [value]="settings.wayTime | millisToMinutes"
            (change)="
                setWayTime.emit(
                    uiHelper.minutesToMillis($any($event.target).value)
                )
            "
        />
        <div class="unit">Minuten</div>
    </div>

    <div>
        <label>Maximale Anwesenheit</label>
        <input
            type="number"
            [value]="settings.maxPresentTime | millisToHours"
            (change)="
                setMaxPresentTime.emit(
                    uiHelper.hoursToMillis($any($event.target).value)
                )
            "
        />
        <div class="unit">Stunden</div>
    </div>

    <div>
        <label>Farbschema</label>
        <input
            type="color"
            [value]="settings.color"
            (change)="setThemeColor.emit($any($event.target).value)"
        />
    </div>
</div>

<div class="actions">
    <button (click)="cancelSettings.emit()">Abbrechen</button>
    <button (click)="saveSettings.emit()">Speichern</button>
</div>
