:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background: #efefef;
    z-index: 1;
    overflow: auto;

    .actions {
        position: absolute;
        background: #fff;
        border-top: 1px solid #ccc;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 5px;
        margin: 0;
        display: flex;
        justify-content: space-between;

        > button {
            display: block;
            flex-basis: 10px;
            flex-grow: 1;
            border: none;
            background: var(--primary-color);
            color: #fff;
            padding: 12px 0;
            cursor: pointer;
            outline: none;
            margin-right: 5px;
        }

        > button:last-of-type {
            margin-right: 0;
        }
    }

    .setting-items {
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 56px;
        overflow: auto;

        > h1 {
            font-size: 18px;
            margin: 10px 0;
        }

        > div {
            margin: 20px 0 0 0;
            position: relative;

            label {
                display: block;
                margin-bottom: 5px;
                font-size: 13px;
            }

            input {
                display: block;
                width: 100%;
                padding: 7px 4px;
            }

            .unit {
                position: absolute;
                top: 20px;
                bottom: 0;
                right: 30px;
                display: flex;
                align-items: center;
                color: #aaa;
            }
        }
    }
}
