<h2>New Feature 🎉</h2>
<p>
  Ab sofort ist es in den <span (click)="jumpToSettings.emit()">Settings</span> möglich, das Farbschema 🔴🟠🟡🟢🔵🟣 des Arbeitszeittrackers anzupassen! 🥳
</p>
<button (click)="hideNewVersionNews.emit()">&#10006;</button>
