:host {
    --newVersionColor: #e9f3fc;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--newVersionColor);
    border: 1px solid var(--newVersionColor);

    p {
        line-height: 30px;

        span {
            cursor: pointer;
            color: #3366cc;
            text-decoration: underline;
        }
    }

    button {
        outline: none;
        border: none;
        background-color: var(--newVersionColor);
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        font-weight: 900;
    }
}
